@font-face { font-family: 'Baloo2_700Bold'; src: url('./fonts/Baloo2_700Bold.ttf') format('truetype'); font-display: block; }
@font-face { font-family: 'Baloo2_800ExtraBold'; src: url('./fonts/Baloo2_800ExtraBold.ttf') format('truetype'); font-display: block; }
@font-face { font-family: 'Nunito_700Bold'; src: url('./fonts/Nunito_700Bold.ttf') format('truetype'); font-display: block; }
