@font-face { font-family: 'Fredoka_500Medium'; src: url('./fonts/Fredoka_500Medium.ttf') format('truetype'); font-display: block; }
@font-face { font-family: 'Fredoka_600SemiBold'; src: url('./fonts/Fredoka_600SemiBold.ttf') format('truetype'); font-display: block; }
@font-face { font-family: 'Fredoka_700Bold'; src: url('./fonts/Fredoka_700Bold.ttf') format('truetype'); font-display: block; }
